* {
  margin: 0;
  padding: 0;
}

.main {
  height: 1100px;
  width: 100%;
  background-image: url("imgs/O9sxAdn.gif");
  position: relative;
  background-position: center;
  background-size: cover;
}

.fadebg {
  height: 1000px;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: #00204624;
}

.changeColor {
  background-color: #c56767;
}

a.navbar-brand {
  padding-left: 100px;
  font-size: 23px;
  letter-spacing: 3px;
}

div#navbarSupportedContent {
  float: right;
  letter-spacing: 2px;
  padding-left: 520px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  position: fixed;
  z-index: 16;
  width: 100%;
  height: 55px;
}

.rules {
  padding: 100px;
  color: #80ff79;
  text-shadow: 2px 2px #1d1111;
}

button.btn.btn-warning {
  margin-top: -60px;
  margin-bottom: 50px;
  font-size: 21px;
}

i.fas.fa-volume-off {
  font-size: 70px;
  color: darkorange;
  text-shadow: 2px 2px #000000;
  cursor: pointer;
}

i.fas.fa-volume-up {
  font-size: 70px;
  color: darkorange;
  text-shadow: 2px 2px #000000;
  cursor: pointer;
}

.row9 {
  opacity: 0;
  height: 170px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  opacity: 0;
  width: 79%;
  margin: -20px auto;
  height: 22px;
  background-color: lightgrey;
}

.progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #cbea00;
  box-sizing: border-box;
}

.showGame {
  transition: 1s;
  opacity: 1;
}

.cards {
  width: 125px;
  height: 144px;
  float: left;
  margin: 0px 10.5px;
  cursor: pointer;
}

img {
  width: 128px;
  height: 144px;
}

.cards .back {
  z-index: 2;
  position: absolute;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.cards .front {
  z-index: 2;
  transition: 0.5s ease-in;
  transform: rotateY(0deg);
  position: absolute;
}

.backFlip {
  transform: rotateY(180deg);
}

.frontFlip {
  transform: rotateY(180deg);
}

.contact {
  padding-top: 2rem;
  background-color: #2df1e44d;
}
.contact i {
  padding-right: 1rem;
}

.contact a {
  display: block;
  color: black;
  margin-bottom: 1rem;
}

.contact a:hover {
  text-decoration: none;
  color: rgb(7, 86, 255);
}

.ending img {
  width: 40%;
}

audio {
  opacity: 0;
  visibility: hidden;
}

.form-control {
  display: block;
  width: 64%;
  padding: 0rem 0rem;
}

.winGame {
  width: 550px;
  height: 280px;
  margin: auto;
  position: fixed;
  background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
  top: 21%;
  padding: 20px 15px;
  right: 29%;
  z-index: 17;
  opacity: 0;
  visibility: hidden;
}
.winGame img {
  width: 80%;
  height: auto;
}

.loseGame {
  width: 550px;
  height: auto;
  margin: auto;
  position: fixed;
  background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
  top: 21%;
  padding: 20px 15px;
  right: 29%;
  z-index: 17;
  opacity: 0;
  visibility: hidden;
}

.loseGame img {
  width: 100%;
  height: auto;
}

.col-xs-8 p {
  font-size: 65px;
  color: darkslategrey;
  visibility: hidden;
  margin-top: 25px;
}

i.fas.fa-grin-tongue-wink {
  /* column-fill: auto; */
  color: darkred;
}
i.fas.fa-smile-beam {
  color: darkred;
}

button.restart {
  background-color: lavender;
  color: green;
  border-radius: 5px;
  font-size: 22px;
  width: 77px;
  margin-top: -10px;
}
button.restart:hover {
  font-size: 23px;
  background-color: #e6e6fac2;
}

audio#victory {
  margin-bottom: -25px;
}
